@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.LoginForm{
    width: 40%;
    margin: auto;
    margin-top: 70px;
    border: 0.1rem solid #d6d6d6;
    padding: 3rem 5rem;
    padding-top: 1rem;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 0.6rem 1rem;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 6px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none;
}

input[type=text]:focus, input[type=password]:focus {
    border: 3px solid #61A5C2;
}
  
input[type=submit] {
    background-color: #2A6F97;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    outline: none;
    border-radius: 6px;
}

#danger {
    background-color: rgb(134, 7, 7);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 75%;
    font-family: 'Libre Baskerville', serif;
    outline: none;
    border-radius: 6px;
}
  
button:hover {
    opacity: 0.8;
}

a, a:visited{
    float: right;
    text-decoration: none;
    color: white;
    padding: 6px;
}